<div>
    This is header directive 
    <button type="button" ng-click="test()">Header Btn</button>
    <a ng-href="#/contact/test .   me/asds">Contact</a>
    <a ng-href="#/">Home</a>
    I am here - {{data}}
</div>

<header>
    <div class="header-content">
        <div class="navbar-wrapper">
            <div>
                <a href="#"><span>Home</span></a>
            </div>
            <div>
                <a href="#"><span>Pages</span></a>
            </div>
        </div>
        <div class="navbar-left-panel">
            
        </div>
    </div>
</header>